

.title__background_img {
    background-size: contain;
    background: url("../Images/IMG_11.JPG") center;
    height: 300px
}

.title__header {
    height: 100px;
}

.title__header__text {
    font-size: 40px;
    text-align: center;
    position: relative;
    top: 30%;
}

.title__sub_header {
    height: 100px;
}

.title__sub_header__text {
    text-align: center;
    font-size: 25px
}

.menu {
    width: 100%;
    height: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;

    font-size: 25px;
}

.menu__link {
    text-decoration: none; /*remove purple color of visited link*/
    color: inherit;
}

.menu__link:hover {
    text-decoration: underline;
}

.menu__link__home {
    padding-top: 30px;
    text-align: center;
}


.active {
    color: #9AC6E4;
}

.menu > li {
    text-align: center;
}

.section {
    margin: 50px;
    /*display: grid;*/
    /*margin-left: 60px;*/
}

.section__header {
    color: #9AC6E4;
    margin-top: 30px;
    font-size: 25px;
    font-weight:normal; /*not bold*/
    height: 40px;
}

.section__element {
    margin-left: 20px;
}

.section__subsection_title {
    font-weight:normal;
    margin-top: 40px;
    height: 40px;
    font-size: 20px;
}

.section__text {
    margin-top: 20px;
    margin-bottom: 20px;
}

.section__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 7%;
}

@media (max-width: 1000px) {
    .section__container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin-bottom: 300px;
    }

    .section__header {
        color: #9AC6E4;
        margin-top: 30px;
        margin-bottom: 50px;
        font-size: 50px;
        font-weight:normal; /*not bold*/
        height: 40px;
    }

    .section__subsection_title {
        font-weight:normal;
        margin-top: 40px;
        height: 40px;
        font-size: 40px;
    }
}

.section__photo {
    width: 100%;
    object-fit: cover;
    box-shadow: 10px 10px 5px #ccc;
}

.section_secondary {
    font-family: cursive;
}

.grid {
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    border-top: 1px solid black;
    border-right: 1px solid black;

}

.grid > span {
    padding: 8px 4px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.column_name {
    background-color: #CFD7ED;
    font-weight: bold;
}

.chess:nth-child(2n+1) {
    background-color: #C7EEF0;
}

.chess:nth-child(2n) {
    background-color: #f0f0f0;
}

.navbar {
    font-size: 20px;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
}

.contacts {
    position: absolute;
}

p {
    text-indent: 10px;
}

* {
    /*font-family: Open Sans, sans-serif;*/
    font-family: Comfortaa, sans-serif;
    margin: 0;
    padding: 0;
}